#dice {
    border-color: black;
    border-style: solid;
    border-width: 0px;
}
.btnCon {
    text-align: center;
    height:10em;
    border-color: lawngreen;
    border-style: solid;
}
#dieGen {
    position: relative;
    top:52px;
}
#diceRoll {
    position: relative;
    top: 52px;
}

